@model SINIFIM.SISTEM.Areas._admin.Models.AddedsModel
@{
    ViewBag.Title = "Yeni Öğretim Görevlisi Ekleme";
    Layout = "~/Views/Sinifim_General_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4>Yeni Öğretim Görevlisi Ekleme</h4>
                    <a href="/_admin/teachers/operations" class="btn btn-primary btn-sm">Öğretim Görevlileri Listesi</a>
                </div>
                <div class="box-body">
                    <form class="/_admin/teachers/add" method="post">
                       
                        <div class="form-group">
                            <label>Üniversite Listesi</label>
                            <select class="form-control" id="@Html.DisplayNameFor(sa=>Model.argormodel.uniid)"
                                    name="@Html.DisplayNameFor(sa=>Model.argormodel.uniid)">
                                @foreach (var item in Model.uniList)
                                {
                                    <option value="@Html.DisplayFor(sa=>item.Value)">@Html.DisplayFor(sa=>item.Text)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>E-Mail Adres</label>
                            <input type="email" name="@Html.DisplayNameFor(sa=>Model.argormodel.email)" id="@Html.DisplayNameFor(sa=>Model.argormodel.email)" class="form-control" placeholder="E-mail adresi">
                        </div>
                        <div class="form-group">
                            <button type="submit" class=" btn btn-success btn-sm">Kaydet</button>
                            <button type="reset" class=" btn btn-danger btn-sm">Temizle</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>